/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 20, 2020, 11:59:27 AM
    Author     : Le-Roy
*/

nav, section, article, aside, footer
{
    display: block;
}

*
{
    padding: 0;
    margin: 0;
}
#logo
{
    display: inline-block;
    position: relative;
    float: left;
    height: 45px;
    width: 100px;
}

#logo div
{
    position: absolute;
    height: 20px;
    top: 12.5px;
    color: white;
}
nav{
    background-color: blueviolet;
}
#m_i
{
    display: inline-block;
    float: right;
    cursor: pointer;
    
}

#m_i:hover
{
    background-color: lightgray;
    color: black;
    
}
.clr_f
{
    clear: both;
}
#bar_1, #bar_2, #bar_3
{
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

.m_dflt
{
    display: none;
	transition: 4s;
}
#menu
{
	
}
.menu
{
    display: block;
    background-color: white;
    text-align: center;
	
}

.menu li
{
    list-style-type: none;
    list-style: none;
    padding: 10px 0;
    transition-property: background-color; 
    transition-duration: 0.2s;
}

.menu a
{
    text-decoration: none;
}

.menu li:hover
{
    background-color: gray;
}

.menu a:hover
{
   color: white;
   font-weight: bolder;
}
#jumbo
{
    border: none;
}